%h1 Nieuwe aanbeveling

= form_for @recommendation do |f|
  = f.fields_for :album do |a|
    %p
      = a.label :artist
      = a.text_field :artist
    %p
      = a.label :title
      = a.text_field :title
  = f.fields_for :recipient do |r|
    %p
      = r.label :email
      = r.text_field :email
  %p= f.submit
